<div id="contact-alert" class="container" style="display: none">
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" onclick="$('#contact-alert').hide()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </div>
</div>