<!DOCTYPE html>
<html lang="en">
<body>

<!-- Header
================================================== -->
<div class="container">
  <div class="page-header">
    <h1>The Story Behind Our Vision</h1>
  </div>
</div>
<!-- /. header -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <div class="row">
    <div class="col-md-12">
      <p class="lead text-justify">Today we start by reinventing child safety in transportation. That a child should ever be endangered by the complications or especially the inconveniences of installing a child seat in a vehicle is a harsh reality that we at CNC Technology Works both refuse to accept and work fervently to change.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <blockquote>
        <p>The success of our company, starting with our flagship product, the Re-Lux seat, will enable us to channel our funding in our greater vision of helping at-risk youth.</p>
      </blockquote>
    </div>
    <div class="col-md-8">
      <p class="text-justify">We understand the paramount importance of child safety; it's the lifeblood of this company and drives all that we do. The care and well-being of our children compels us to not only redesign the way we transport such precious cargo, but also to dream of a bigger cause. </p>
      <p class="text-justify">The success of our company, starting with our flagship product, the Re-Lux seat, will enable us to channel our funding in our greater vision of helping at-risk youth. Too many children grow up feeling like gangs, drugs, and violence are their only option. Too many children find themselves in a situation that feels inescapable. We aim to change that.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p class="text-justify">The success of CNC Technology Works will allow us to fund National Eyes on Youth, a safe haven for at-risk youth. <abbr title="National Eyes on Youth">NEoY</abbr> will provide a safe place for youth to live, learn, and grow. NEoY seeks to lower youth drug use, violent crime, and gun violence and to provide youth in unstable situations with a sense of community, family, understanding, and support. It is our dream to offer at-risk youth that which they need most: the opportunity to change their own lives. </p>
      <p class="text-justify">Active participants in NEoY will not only be able to complete high school and be provided resources and access to higher education, but will also receive career counseling and earn money toward the down payment of their own homes. All NEoY participants will be asked to give back to their communities both by being involved in local projects and by mentoring younger participants.</p>
      <p class="text-justify">At CNC Technology Works, we envision a safe and happy future for all youth. Our dreams are big, but we are undeterred because we know the importance of our mission: the safety of our children.</p>
      <div class="panel panel-primary">
        <div class="panel-body">
          <p>Want to become involved in CNC Techology Works or National Eyes on Youth? We'd love to hear from you! Founder Darryl Brewer can be reached at
            <%= mail_to "test@cnctechworks.net", "test@cnctechworks.net", subject: "I want to become a sponsor!", body: "CNC Technology Works Team, I love what you're doing and I want to be a part of it. I want to help by ____. You can reach me at ____." %>
            or
            <span id="phone-number-desktop"><%= link_to number_to_phone(1234567890, area_code: true), "callto:1234567890" %></span><span id="phone-number-mobile"><%= link_to number_to_phone(1234567890, area_code: true), "tel:1234567890" %></span>.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= image_tag "neoy-campus.png", class: "img-rounded img-responsive", alt: "NEoY Campus" %>
    </div>
  </div>
</div><!-- /.container -->

</body>
</html>
