<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for you interest in sponsoring CNC Technology Works, <%= @name %>!</h1>
    <p>
      Our team has received your message and will be contacting you soon at:
      Email: <%= @email %><br>
    </p>
    <p>Your support is greatly appreciated and we look forward to your becoming a part of our efforts.</p>
  </body>
</html>