/* Business colors */
$cncBlue: #4b88be;
$cncGrey: #c2c2c2;

$gray-light: $cncBlue; /* Featurette second header */
$gray-lighter: $cncBlue; /* Featurette hr */

@import url(http://fonts.googleapis.com/css?family=Nunito:300,700,400);

@import "bootstrap";

* {
  font-family: 'Nunito';
}

@media (min-width:992px) {
  * {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
}

.img-rounded {
  border: 1px solid $cncGrey;
}

blockquote {
  border-radius: 20px;
  float: left;
  width: 50%;
}

// Use appropriate phone link depending on target
#phone-number-mobile {
  display: inline;
}

#phone-number-desktop {
  display: none;
}

@media (min-width: 768px) {
  #phone-number-mobile {
    display: none;
  }

  #phone-number-desktop {
    display: inline;
  }
}

// SPACING CORRECTIONS
body {
  padding-top: 90px;
}

@media (min-width: 992px) {
  form {
    padding-top:20px;
  }
}

// Adjust default featurette spacing
.featurette-heading {
  margin-top: 0;
}

.featurette {
  padding-bottom: 10px;
}

.featurette-divider {
  margin-top: 20px;
}

// Prevent shifting caused by scrollbar disappearance
.modal {
  overflow-y: auto;
}

.modal-open {
  overflow: auto;
}
// END SPACING CORRECTIONS